metadata_dir = "/meta"
data_dir = "/data"
db_engine = "lmdb"
metadata_auto_snapshot_interval = "6h"

replication_factor = 1

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "127.0.0.1:3900"
rpc_secret = "{{ vault_garage_admin_token }}"

[s3_api]
s3_region = "garage"
api_bind_addr = "[::]:3900"
root_domain = ".s3.oisd.io"

#[s3_web]
#bind_addr = "[::]:3902"
#root_domain = ".web.oisd.io"
#index = "index.html"

[admin]
api_bind_addr = "[::]:3903"