---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  tailscale.server: |
    ts.net {
        errors
        cache 30
        forward . 10.43.74.183
    }
